{% extends 'share_layout/base.html' %}
{% load dashboard_extras %}
{% load fullurl %}

{% block header %}
    <title>{{ article.title }}-微商代理网</title>
    <meta name="description" content="{{ article.first_para }}" />
    <meta name="keywords" content="{% for tag in article.tags.all %}{{ tag.name}}{% if not forloop.last %},{% endif %}{% endfor %}" />
    <meta property="og:description" content="{{ article.title }}">
    <meta property="og:type" content="acticle">
    <meta property="og:locale" content="zh-CN" />
    <meta property="og:site_name" content="微商代理网">
    <meta property="og:title" content="{{ article.title }}">
    <meta property="og:url" content="{% buildfullurl article.get_absolute_url %}" />
    <meta property="og:image" content="{% buildfullurl article.image.url %}">
    <!--
    <link rel='stylesheet' id='highlight-css' href='static/css/highlight_1.css' type='text/css' media='all' />
    <script type='text/javascript' src='static/js/no-right-click_1.js'></script>
    -->
{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb">
        <a class="crumbs" href="{% url 'dashboard:index' %}"><i class="be be-home"></i>首页</a>
        <i class="be be-arrowright"></i><a href="{% buildfullurl article.category.get_absolute_url %}">{{ article.category.name }}</a>
        <i class="be be-arrowright"></i>{{ article.title }}
    </nav>
{% endblock %}


{% block primary %}
            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">

                    <article id="post-{{ article.id }}" class="post-{{ article.id }} post type-post status-publish format-standard hentry category-internet tag-3178 ghi">
                        <header class="entry-header">
                            <h1 class="entry-title">{{ article.title }}</h1>
                        </header><!-- .entry-header -->

                        <div class="entry-content">

                            <ul class="single-meta">
                                <li class="comment"><a href="http://www.qugood.com/article/21130.html#respond" rel="external nofollow"><i class="be be-speechbubble"></i> 发表评论</a></li>
                                <li class="r-hide"><a href="#"><span class="off-side"></span></a></li>
                            </ul>
                            <ul id="fontsize">
                                <li>A+</li>
                            </ul>
                            <div class="single-cat-tag">
                                <div class="single-cat">所属分类：<a href="{% buildfullurl article.category.get_absolute_url %}" rel="category tag">{{ article.category.name }}</a></div>
                            </div>
                            <div class="single-content">
                                {{ article.content|safe }}
                            </div>


                            <div class="clear"></div>
                            <div id="social">
                                <div class="social-main">
                                    <span class="like">
                                        <a href="javascript:;" title="阅读">
                                            <i class="be be-eye"></i>{{ article.views }}
                                        </a>
                                    </span>
                                    <div class="shang-p">
                                        <div class="shang-empty"><span></span></div>
                                        <span class="tipso_style" id="tip-p" data-tipso="
	                        				<span id=&quot;shang&quot;>
	                        					<span class=&quot;shang-main&quot;>
	                        						<h4><i class=&quot;be be-favorite&quot; aria-hidden=&quot;true&quot;></i> 您可以选择一种方式赞助本站</h4>															<span class=&quot;shang-img&quot;>
                                                    <img src=&quot;{% buildfullurl alipay_code.url %}&quot; alt=&quot;alipay&quot;/>
	                        					    <h4>支付宝扫一扫赞助</h4>
                                                </span>

	                        					<span class=&quot;shang-img&quot;>
                                                    <img src=&quot;{% buildfullurl wechat_pay_code.url %}&quot; alt=&quot;weixin&quot;/>
	                        						<h4>微信钱包扫描赞助</h4>
                                                </span>

                                                <span class=&quot;clear&quot;></span>
	                        				</span>
	                        				</span>">
                                            <span class="shang-s"><a title="赞助本站">赏</a></span>
                                        </span>
                                    </div>
                                    <div class="share-sd">
                                        <span class="share-s"><a href="javascript:void(0)" id="share-s" title="分享"><i class="be be-share"></i>分享</a></span>
                                        <div id="share" style="display: none;">
                                            <ul class="bdsharebuttonbox bdshare-button-style1-16" data-bd-bind="1532001266207">
                                                <li><a title="更多" class="bds_more be be-addbox" data-cmd="more" onclick="return false;" href="#"></a></li>
                                                <li><a title="分享到QQ空间" class="be be-qzone" data-cmd="qzone" onclick="return false;" href="#"></a></li>
                                                <li><a title="分享到新浪微博" class="be be-stsina" data-cmd="tsina" onclick="return false;" href="#"></a></li>
                                                <li><a title="分享到腾讯微博" class="be be-tqq" data-cmd="tqq" onclick="return false;" href="#"></a></li>
                                                <li><a title="分享到人人网" class="be be-renren" data-cmd="renren" onclick="return false;" href="#"></a></li>
                                                <li><a title="分享到微信" class="be be-weixin" data-cmd="weixin" onclick="return false;" href="#"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <footer class="single-footer">
                            </footer><!-- .entry-footer -->

                            <div class="clear"></div>
                        </div><!-- .entry-content -->

                    </article><!-- #post -->

                    <div class="single-tag">
                        <ul class="wow fadeInUp" data-wow-delay="0.3s">
                            {% for tag in article.tags.all %}
                            <li><a href="{% buildfullurl tag.get_absolute_url %}" rel="tag">{{ tag.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="authorbio wow fadeInUp" data-wow-delay="0.3s">
                        <img alt='{{ article.account.nickname }}' src='{% buildfullurl article.account.portrait.url %}' class='avatar avatar-64 wpfla' height='64' width='64' />
                        <ul class="spostinfo">
                            <li>
                                <li><strong>版权声明：</strong>文章源于投稿或网络，于{{ article.update_time }}，由 <b>{{ article.account.nickname }}</b> 发表，共 {{ article.content|length}} 字。</li>
                                <li class="reprinted">
                                    <strong>转载请注明：</strong>
                                    <a href="{% buildfullurl article.get_absolute_url %}" rel="bookmark" title="{{ article.title }}">{{ article.title }} | 微商代理网</a>
                                </li>
                        </ul>
                        <div class="clear"></div>
                    </div>

                    <div id="related-img" class="wow fadeInUp" data-wow-delay="0.3s">

                        {% for sim in articles %}
                        <div class="r4">
                            <div class="related-site">
                                <figure class="related-site-img">
                                    <span class="load"><a href="{% buildfullurl sim.get_absolute_url %}"><img src="{% buildfullurl sim.image.url %}" alt="{{ sim.title }}" /></a></span>
                                </figure>
                                <div class="related-title"><a href="{% buildfullurl sim.get_absolute_url %}">{{ sim.title }}</a></div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="clear"></div>
                    </div>


                    <nav class="nav-single wow fadeInUp" data-wow-delay="0.3s">
                        <a href="http://www.qugood.com/article/21083.html" rel="prev"><span class="meta-nav"><span class="post-nav"><i class="be be-arrowleft"></i> 上一篇</span><br />人人乐再现亏损危机，传统商超已被时代抛弃？</span></a><a href="http://www.qugood.com/article/21147.html" rel="next"><span class="meta-nav"><span class="post-nav">下一篇 <i class="be be-arrowright"></i></span><br />无人酒店究竟是一场革新还是作秀？</span></a>
                        <div class="clear"></div>
                    </nav>


                    <nav class="navigation post-navigation" role="navigation">
                        <h2 class="screen-reader-text">文章导航</h2>
                        <div class="nav-links">
                            <div class="nav-previous"><a href="http://www.qugood.com/article/21129.html" rel="prev"><span class="meta-nav-r" aria-hidden="true"><i class="be be-arrowleft"></i></span></a></div>
                            <div class="nav-next"><a href="http://www.qugood.com/article/21138.html" rel="next"><span class="meta-nav-l" aria-hidden="true"><i class="be be-arrowright"></i></span></a></div>
                        </div>
                    </nav>

                    <!-- 引用 -->


                    <div class="scroll-comments"></div>

                    <div id="comments" class="comments-area">


                        <div id="respond" class="comment-respond wow fadeInUp" data-wow-delay="0.3s">
                            <h3 id="reply-title" class="comment-reply-title"><span>发表评论</span><small><a rel="nofollow" id="cancel-comment-reply-link" href="/article/21130.html#respond" style="display:none;">取消回复</a></small></h3>


                            <form action="http://www.qugood.com/wp-comments-post.php" method="post" id="commentform">

                                <p class="emoji-box">
                                    <script type="text/javascript">
                                        /* <![CDATA[ */
                                        function grin(tag) {
                                            var myField;
                                            tag = ' ' + tag + ' ';
                                            if (document.getElementById('comment') && document.getElementById('comment').type == 'textarea') {
                                                myField = document.getElementById('comment');
                                            } else {
                                                return false;
                                            }
                                            if (document.selection) {
                                                myField.focus();
                                                sel = document.selection.createRange();
                                                sel.text = tag;
                                                myField.focus();
                                            } else if (myField.selectionStart || myField.selectionStart == '0') {
                                                var startPos = myField.selectionStart;
                                                var endPos = myField.selectionEnd;
                                                var cursorPos = endPos;
                                                myField.value = myField.value.substring(0, startPos) +
                                                    tag +
                                                    myField.value.substring(endPos, myField.value.length);
                                                cursorPos += tag.length;
                                                myField.focus();
                                                myField.selectionStart = cursorPos;
                                                myField.selectionEnd = cursorPos;
                                            } else {
                                                myField.value += tag;
                                                myField.focus();
                                            }
                                        }
                                        /* ]]> */
                                    </script>

                                    <a href="javascript:grin(':?:')"><img src="static/picture/icon_question_1.gif" alt=":?:" title="疑问" /></a>
                                    <a href="javascript:grin(':razz:')"><img src="static/picture/icon_razz_1.gif" alt=":razz:" title="调皮" /></a>
                                    <a href="javascript:grin(':sad:')"><img src="static/picture/icon_sad_1.gif" alt=":sad:" title="难过" /></a>
                                    <a href="javascript:grin(':evil:')"><img src="static/picture/icon_evil_1.gif" alt=":evil:" title="抠鼻" /></a>
                                    <a href="javascript:grin(':!:')"><img src="static/picture/icon_exclaim_1.gif" alt=":!:" title="吓" /></a>
                                    <a href="javascript:grin(':smile:')"><img src="static/picture/icon_smile_1.gif" alt=":smile:" title="微笑" /></a>
                                    <a href="javascript:grin(':oops:')"><img src="static/picture/icon_redface_1.gif" alt=":oops:" title="憨笑" /></a>
                                    <a href="javascript:grin(':grin:')"><img src="static/picture/icon_biggrin_1.gif" alt=":grin:" title="坏笑" /></a>
                                    <a href="javascript:grin(':eek:')"><img src="static/picture/icon_surprised_1.gif" alt=":eek:" title="惊讶" /></a>
                                    <a href="javascript:grin(':shock:')"><img src="static/picture/icon_eek_1.gif" alt=":shock:" title="发呆" /></a>
                                    <a href="javascript:grin(':???:')"><img src="static/picture/icon_confused_1.gif" alt=":???:" title="撇嘴" /></a>
                                    <a href="javascript:grin(':cool:')"><img src="static/picture/icon_cool_1.gif" alt=":cool:" title="大兵" /></a>
                                    <a href="javascript:grin(':lol:')"><img src="static/picture/icon_lol_1.gif" alt=":lol:" title="偷笑" /></a>
                                    <a href="javascript:grin(':mad:')"><img src="static/picture/icon_mad_1.gif" alt=":mad:" title="咒骂" /></a>
                                    <a href="javascript:grin(':twisted:')"><img src="static/picture/icon_twisted_1.gif" alt=":twisted:" title="发怒" /></a>
                                    <a href="javascript:grin(':roll:')"><img src="static/picture/icon_rolleyes_1.gif" alt=":roll:" title="白眼" /></a>
                                    <a href="javascript:grin(':wink:')"><img src="static/picture/icon_wink_1.gif" alt=":wink:" title="鼓掌" /></a>
                                    <a href="javascript:grin(':idea:')"><img src="static/picture/icon_idea_1.gif" alt=":idea:" title="酷" /></a>
                                    <a href="javascript:grin(':arrow:')"><img src="static/picture/icon_arrow_1.gif" alt=":arrow:" title="擦汗" /></a>
                                    <a href="javascript:grin(':neutral:')"><img src="static/picture/icon_neutral_1.gif" alt=":neutral:" title="亲亲" /></a>
                                    <a href="javascript:grin(':cry:')"><img src="static/picture/icon_cry_1.gif" alt=":cry:" title="大哭" /></a>
                                    <a href="javascript:grin(':mrgreen:')"><img src="static/picture/icon_mrgreen_1.gif" alt=":mrgreen:" title="呲牙" /></a>
                                    <br />
                                </p>
                                <p class="comment-form-comment"><textarea id="comment" name="comment" rows="4" tabindex="1"></textarea></p>

                                <p class="comment-tool">
                                    <a class="tool-img" href='javascript:embedImage();' title="插入图片"><i class="icon-img"></i><i class="be be-picture"></i></a>
                                    <a class="emoji" href="" title="插入表情"><i class="be be-insertemoticon"></i></a>
                                </p>


                                <div id="comment-author-info">
                                    <p class="comment-form-author">
                                        <label for="author">昵称<span class="required">*</span></label>
                                        <input type="text" name="author" id="author" class="commenttext" value="" tabindex="2" />
                                    </p>
                                    <p class="comment-form-email">
                                        <label for="email">邮箱<span class="required">*</span></label>
                                        <input type="text" name="email" id="email" class="commenttext" value="" tabindex="3" />
                                    </p>
                                    <p class="comment-form-url">
                                        <label for="url">网址</label>
                                        <input type="text" name="url" id="url" class="commenttext" value="" tabindex="4" />
                                    </p>
                                    <p class="comment-form-qq">
                                        <label for="qq">QQ</label>
                                        <input id="qq" name="qq" type="text" value="" size="30" placeholder="输入QQ号码可以快速填写" />
                                        <span id="loging"></span>
                                    </p>
                                </div>

                                <div class="qaptcha"></div>

                                <div class="clear"></div>
                                <p class="form-submit">
                                    <input id="submit" name="submit" type="submit" tabindex="5" value="提交评论" />
                                    <input type='hidden' name='comment_post_ID' value='21130' id='comment_post_ID' />
                                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                </p>
                            </form>

                        </div>



                    </div>
                    <!-- #comments -->

                </main><!-- .site-main -->
            </div><!-- .content-area -->
{% endblock %}

{% block sidebar %}
    <div id="sidebar" class="widget-area all-sidebar">
        {% load_sidebar_hot %}
    </div>
{% endblock %}

{% block js-script %}
    <script type="text/javascript" src="static/js/jquery-ui.min_1.js"></script>
    <script type="text/javascript" src="static/js/qaptcha.jquery_1.js"></script>
    <script type="text/javascript">
        var QaptchaJqueryPage = "http://www.qugood.com/wp-content/themes/begin/inc/qaptcha.jquery.php"
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.qaptcha').QapTcha();
        });
    </script>
    <script type='text/javascript' src='static/js/beepress-pro_1.js'></script>
    <script type='text/javascript' src='static/js/getqqinfo_1.js'></script>
    <script type='text/javascript' src='static/js/slides_1.js'></script>
    <script type='text/javascript' src='static/js/jquery.qrcode.min_1.js'></script>
    <script type='text/javascript' src='static/js/wow_1.js'></script>
    <script type='text/javascript' src='static/js/sticky_1.js'></script>
    <script type='text/javascript' src='static/js/jquery-ias_1.js'></script>
    <script type='text/javascript' src='static/js/jquery.lazyload_1.js'></script>
    <script type='text/javascript' src='static/js/tipso_1.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wpl_ajax_url = "http:\/\/www.qugood.com\/wp-content\/themes\/begin\/inc\/admin-ajax.php";
        /* ]]> */
    </script>
    <script type='text/javascript' src='static/js/script_1.js'></script>
    <script type='text/javascript' src='static/js/flexisel_1.js'></script>
    <script type='text/javascript' src='static/js/fancybox_1.js'></script>
    <script type='text/javascript' src='static/js/comments-ajax-qt_1.js'></script>
    <script type='text/javascript' src='static/js/superfish_1.js'></script>
    <script type='text/javascript' src='static/js/gb2big5_1.js'></script>
    <script type='text/javascript' src='static/js/carousel.min_1.js'></script>
    <script type='text/javascript' src='static/js/bd-share_1.js'></script>
    <script type='text/javascript' src='static/js/wpzm_1.js'></script>
    <script type="text/javascript">
        var ias = $.ias({
            container: "#comments",
            item: ".comment-list",
            pagination: ".scroll-links",
            next: ".scroll-links .nav-previous a",
        });
        ias.extension(new IASTriggerExtension({
            text: '<i class="be be-circledown"></i>更多',
            offset: 0,
        }));
        ias.extension(new IASSpinnerExtension());
        ias.extension(new IASNoneLeftExtension({
            text: '已是最后',
        }));
        ias.on('rendered', function(items) {
            $("img").lazyload({
                effect: "fadeIn",
                failure_limit: 10
            });
        });
    </script>
{% endblock %}
