{% extends 'share_layout/base.html' %}
{% load dashboard_extras %}
{% load fullurl %}

{% block header %}
    <title> {{ head_title }}-{{ settings.sitename }}</title>
    <meta name="description" content="{{ head_desc }}" />
    <meta name="keywords" content="{{ head_keywords }}" />
{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb">
        <a class="crumbs" href="{% fullurl 'dashboard:index' %}"><i class="be be-home"></i>首页</a>
        <i class="be be-arrowright"></i><a href="{% buildfullurl articles.0.tag.get_absolute_url %}">{{ tag_name }}</a>
	    <i class="be be-arrowright"></i>文章
	</nav>
{% endblock %}


{% block primary %}
    <section id="primary" class="content-area">
        <main id="main" class="site-main" role="main">

            {% for article in articles %}
            <article id="post-{{ article.id }}" class="wow fadeInUp post-{{ article.id }} post type-post status-publish format-standard hentry category-news ghi" data-wow-delay="0.3s">
	              <figure class="thumbnail">
                      {% if article.is_product %}
                         <a href="{{ article.link }}" target="_blank">
                      {% else %}
                         <a href="{% buildfullurl article.get_absolute_url %}">
                      {% endif %}
                            <img src="{% buildfullurl article.image.url %}" alt="{{ article.title }}" />
                        </a>
                        <span class="cat"><a href="{% buildfullurl article.tag.get_absolute_url %}">{{ tag_name }}</a></span>
	              </figure>

                <header class="entry-header">
                    <h2 class="entry-title">
                        {% if article.is_product %}
                           <a href="{{ article.link }}" rel="bookmark" target="_blank">{{ article.title }}</a>
                        {% else %}
                           <a href="{% buildfullurl article.get_absolute_url %}" rel="bookmark">{{ article.title }}</a>
                        {% endif %}
                    </h2>
                </header><!-- .entry-header -->

                <div class="entry-content">
                    <div class="archive-content">{{ article.content|striptags|slice:'150'|safe }}... </div>
                    <span class="title-l"></span>
                    <span class="entry-meta-no">
                        <span class="date"><i class="be be-calendar2"></i> {{ article.update_time|date:"m/j" }}</span>
                        <span class="format-cat"><i class="be be-folder"></i> 
                            <a href="{% buildfullurl article.tag.get_absolute_url %}">{{ tag_name }}</a>
                        </span>
                        <span class="views"><i class="be be-eye"></i> {{ article.views }} views</span>
                    </span>
                    <div class="clear"></div>
                </div><!-- .entry-content -->

                <span class="entry-more">
                    {% if article.is_product %}
                        <a href="{{ article.link }}" rel="bookmark" target="_blank">阅读全文</a>
                    {% else %}
                        <a href="{% buildfullurl article.get_absolute_url %}" rel="bookmark">阅读全文</a>
                    {% endif %}
                </span>

            </article><!-- #post -->
                {% if forloop.counter == 2 %}
                {% if ad_column %}
                    <div class="wow fadeInUp" data-wow-delay="0.3s">
                        <div class="ad-pc ad-site">
                             <a href="{{ ad_column.link }}" rel="external nofollow" target="_blank" rel="bookmark">
                                 <img src="{% buildfullurl ad_column.image.url %}" alt="{{ ad_column.title }}" />
                             </a>
                        </div>
                    </div>
                {% endif %}
                {% endif %}
            {% endfor %}


        </main><!-- .site-main -->

         <div class="pagenav-clear">
            <nav class="navigation pagination" role="navigation">
                <h2 class="screen-reader-text">文章导航</h2>
                <div class="nav-links">
                    {% if articles.has_previous %}
                    <a class="prev page-numbers" href="?page={{ articles.previous_page_number }}"><i class="be be-arrowleft"></i></a>
                    {% endif %}
                    {% for p in page_range %}
                        {% ifequal p articles.number %}
                            <span aria-current='page' class='page-numbers current'><span class="screen-reader-text">第 </span>{{ p }}<span class="screen-reader-text"> 页</span></span>
                        {% else %}
                            <a class="page-numbers" href="?page={{ p }}"><span class="screen-reader-text">第 </span>{{ p }}<span class="screen-reader-text"> 页</span></a>
                        {% endifequal %}
                    {% endfor %}
                    {% if articles.has_next %}
                        <a class="next page-numbers" href="?page={{ articles.next_page_number }}"><i class="be be-arrowright"></i></a>
                    {% endif %}
                </div>
            </nav>

         </div>

    </section><!-- .content-area -->

{% endblock %}

{% block sidebar %}
    <div id="sidebar" class="widget-area all-sidebar">
         {% load_sidebar_best_recomm %}
         {% load_sidebar_tag %}
    </div>
{% endblock %}

