{% extends 'share_layout/base.html' %}
{% load dashboard_extras %}
{% load fullurl %}

{% block header %}
    <title>{{ settings.sitename }}—{{ settings.head_title}}</title>
    <meta name="description" content="{{ settings.head_desc }}" />
    <meta name="keywords" content="{{ settings.head_keywords }}" />
{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb">
        <div class="bull"><i class="be be-volumedown"></i></div>
        <div id="scrolldiv">
            <div class="scrolltext">
                <ul>
                    {% for article in bd_articles %}
    	              	  <li class="scrolltext-title"><a href="{% buildfullurl article.get_absolute_url %}" rel="bookmark">{{ article.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() { $("#scrolldiv").textSlider({ line: 1, speed: 300, timer: 6000 }); })
        </script>
    </nav>
{% endblock %}

{% block primary %}
     <div id="primary" class="content-area">
         <main id="main" class="site-main" role="main">
             <div id="slideshow" class="wow fadeInUp" data-wow-delay="0.3s">
                 <ul class="rslides" id="slider">
                 {% for ad in ad_left_up_round %}
                     {% if ad.link  %}
                         <li>
                             <a href="{{ ad.link }}" rel=”nofollow” target="_blank" rel="bookmark">
                                 <img src="{% buildfullurl ad.image_url %}" alt="{{ ad.title }}" />
                             </a>
                             <p class="slider-caption">{{ ad.title }}</p>
                         </li>
                     {% else %}
                         <li>
                             <a href="{% buildfullurl ad.get_absolute_url %}" rel="bookmark"><img src="{% buildfullurl ad.image_url %}" alt="{{ ad.title }}" /></a>
                             <p class="slider-caption">{{ ad.title }}</p>
                         </li>
                     {% endif %}
                 {% endfor %}
                 </ul>
             </div>

             {% for article in articles %}
             <article id="post-{{ article.id }}" class="wow fadeInUp post-{{ article.id }} post type-post status-publish format-standard hentry category-xinlingshou tag-{{ article.id }} ghi" data-wow-delay="0.3s">
                 <figure class="thumbnail">
                     <a href="{{ article.id }}"><img src="{% buildfullurl article.image.url %}" alt="{{ article.title }}" /></a>
                     <span class="cat"><a href="{% buildfullurl article.get_absolute_url %}">{{ article.category.name }}</a></span>
                 </figure>
                 <header class="entry-header">
                     <h2 class="entry-title"><a href="{% buildfullurl article.get_absolute_url %}" rel="bookmark">{{ article.title }}</a></h2>
                 </header><!-- .entry-header -->
                 <div class="entry-content">
                     <div class="archive-content">{{ article.content|striptags|slice:'120'|safe }}... </div>
                     <span class="title-l"></span>
                     <span class="new-icon"><i class="be be-new"></i></span>
                     <span class="entry-meta">
                         <span class="date"><i class="be be-calendar2"></i> {{ article.update_time|date:"m/j" }}</span>
                         <span class="views"><i class="be be-eye"></i> {{ article.views }} views</span>
                     </span>
                     <div class="clear"></div>
                 </div><!-- .entry-content -->
                 <span class="entry-more"><a href="{% buildfullurl article.get_absolute_url %}" rel="bookmark">阅读全文</a></span>
             </article><!-- #post -->
             {% if forloop.counter == 2 %}
                {% if ad_column %}
                    <div class="wow fadeInUp" data-wow-delay="0.3s">
                        <div class="ad-pc ad-site">
                             <a href="{{ ad_column.link }}" rel=”nofollow” target="_blank" rel="bookmark">
                                 <img src="{% buildfullurl ad_column.image_url %}" alt="{{ ad_column.title }}" />
                             </a>
                        </div>
                    </div>
                {% endif %}
             {% endif %}
             {% endfor %}
         </main><!-- .site-main -->
         <nav class="navigation pagination" role="navigation">
             <h2 class="screen-reader-text">文章导航</h2>
             <div class="nav-links">
                 {% if articles.has_previous %}
                 <a class="prev page-numbers" href="{% fullurl 'dashboard:index'%}?page={{ articles.previous_page_number }}"><i class="be be-arrowleft"></i></a>
                 {% endif %}
                 {% for p in page_range %}
                     {% ifequal p articles.number %}
                         <span aria-current='page' class='page-numbers current'><span class="screen-reader-text">第 </span>{{ p }}<span class="screen-reader-text"> 页</span></span>
                     {% else %}
                         <a class="page-numbers" href="{% fullurl 'dashboard:index'%}?page={{ p }}"><span class="screen-reader-text">第 </span>{{ p }}<span class="screen-reader-text"> 页</span></a>
                     {% endifequal %}
                 {% endfor %}
                 {% if articles.has_next %}
                     <span class="page-numbers dots">…</span>
                     <a class="page-numbers" href="{% fullurl 'dashboard:index'%}?page={{ articles.paginator.num_pages}}"><span class="screen-reader-text">第 </span>{{ articles.paginator.num_pages}}<span class="screen-reader-text"> 页</span></a>
                     <a class="next page-numbers" href="{% fullurl 'dashboard:index'%}?page={{ articles.next_page_number }}"><i class="be be-arrowright"></i></a>
                 {% endif %}
             </div>
         </nav>
     </div><!-- .content-area -->
{% endblock %}

{% block sidebar %}
     <div id="sidebar" class="widget-area all-sidebar">
         {% load_sidebar_hot %}
         {% load_sidebar_best_recomm %}
         {% load_sidebar_tag %}
     </div>
{% endblock %}


{% block links-box %}
    <div class="links-box">
        <div id="links">
            {% for link in links %}
                <ul class="lx7"><li class="link-f link-name wow fadeInUp" data-wow-delay="0.3s"><a href="{{ link.url }}">{{ link.name }}</a></li></ul>
      	    {% endfor %}
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}

