{% extends 'share_layout/base.html' %}
{% load dashboard_extras %}
{% load fullurl %}

{% block header %}
    <title>趣果网—品牌营销新媒体 - 专注中国制造品牌升级。</title>
    <meta name="description" content="趣果网（www.qugood.com）——品牌营销新媒体。" />
    <meta name="keywords" content="品牌营销,品牌出海,品牌口号,品牌新闻,品牌策划,网络营销,电商新闻,跨境电商,新零售" />
    <!--
    <link rel='stylesheet' id='BEEPRESSCSS-css' href='static/css/beepress.css' type='text/css' media='screen' />
    <script type='text/javascript' src='static/js/jquery.min.js'></script>
    <script type='text/javascript' src='static/js/player.js'></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
    var IwNRCargs = { "rightclick": "Y", "draganddrop": "Y" };
    /* ]]> */
    </script>
    <script type='text/javascript' src='static/js/no-right-click.js'></script>
    <style>.single-content img{margin: 0 auto;}</style>
    -->
{% endblock %}

{% block breadcrumb %}
        <nav class="breadcrumb">
            <div class="bull"><i class="be be-volumedown"></i></div>
            <div id="scrolldiv">
                <div class="scrolltext">
                    <ul>
                        <li class="scrolltext-title"><a href="http://www.qugood.com/article/bulletin/tougao/" rel="bookmark">给我投稿，趣果哥帮您上头条号、搜狐号等知名自媒体</a></li>
                    </ul>
                </div>
            </div>
            <script type="text/javascript">
            $(document).ready(function() { $("#scrolldiv").textSlider({ line: 1, speed: 300, timer: 6000 }); })
            </script>
        </nav>
{% endblock %}

{% block primary %}
            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                    <div id="slideshow" class="wow fadeInUp" data-wow-delay="0.3s">
                        <ul class="rslides" id="slider">
                        {% for ad in ad_left_up_round %}
                            {% if ad.link  %}
                                <li>
                                    <a href="{{ ad.link }}" rel=”nofollow” target="_blank" rel="bookmark">
                                        <img src="{% buildfullurl ad.image_url %}" alt="{{ ad.title }}" />
                                    </a>
                                    <p class="slider-caption">{{ ad.title }}</p>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% buildfullurl ad.get_absolute_url %}" rel="bookmark"><img src="{% buildfullurl ad.image_url %}" alt="{{ ad.title }}" /></a>
                                    <p class="slider-caption">{{ ad.title }}</p>
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>

                    {% for article in new_articles %}
                    <article id="post-{{ article.id }}" class="wow fadeInUp post-{{ article.id }} post type-post status-publish format-standard hentry category-xinlingshou tag-{{ article.id }} ghi" data-wow-delay="0.3s">
                        <figure class="thumbnail">
                            <a href="{{ article.id }}"><img src="{{ article.image.url }}" alt="{{ article.title }}" /></a>
                            <span class="cat"><a href="{{ article.get_absolute_url }}">{{ article.category.name }}</a></span>
                        </figure>
                        <header class="entry-header">
                            <h2 class="entry-title"><a href="{{ article.get_absolute_url }}" rel="bookmark">{{ article.title }}</a></h2>
                        </header><!-- .entry-header -->
                        <div class="entry-content">
                            <div class="archive-content">{{ article.content|striptags|slice:'120'|safe }}... </div>
                            <span class="title-l"></span>
                            <span class="new-icon"><i class="be be-new"></i></span>
                            <span class="entry-meta">
                                <span class="date"><i class="be be-calendar2"></i> {{ article.update_time|date:"m/j" }}</span>
                                <span class="views"><i class="be be-eye"></i> {{ article.views }} views</span>
                            </span>
                            <div class="clear"></div>
                        </div><!-- .entry-content -->
                        <span class="entry-more"><a href="{% buildfullurl article.get_absolute_url %}" rel="bookmark">阅读全文</a></span>
                    </article><!-- #post -->
                    {% if forloop.counter == 2 %}
                        <div class="wow fadeInUp" data-wow-delay="0.3s">
                            <div class="ad-pc ad-site">
                                 <a href="{{ ad_column.link }}" rel=”nofollow” target="_blank" rel="bookmark">
                                     <img src="{% buildfullurl ad_column.image_url %}" alt="{{ ad_column.title }}" />
                                 </a>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </main><!-- .site-main -->
                <nav id="nav-below">
                    <div class="nav-next"></div>
                    <div class="nav-previous"><a href="http://www.qugood.com/page/2/" ></a></div>
                </nav>
                <nav class="navigation pagination" role="navigation">
                    <h2 class="screen-reader-text">文章导航</h2>
                    <div class="nav-links"><span aria-current='page' class='page-numbers current'><span class="screen-reader-text">第 </span>1<span class="screen-reader-text"> 页</span></span>
                        <a class='page-numbers' href='http://www.qugood.com/page/2/'><span class="screen-reader-text">第 </span>2<span class="screen-reader-text"> 页</span></a>
                        <a class='page-numbers' href='http://www.qugood.com/page/3/'><span class="screen-reader-text">第 </span>3<span class="screen-reader-text"> 页</span></a>
                        <a class='page-numbers' href='http://www.qugood.com/page/4/'><span class="screen-reader-text">第 </span>4<span class="screen-reader-text"> 页</span></a>
                        <a class='page-numbers' href='http://www.qugood.com/page/5/'><span class="screen-reader-text">第 </span>5<span class="screen-reader-text"> 页</span></a>
                        <span class="page-numbers dots">&hellip;</span>
                        <a class='page-numbers' href='http://www.qugood.com/page/382/'><span class="screen-reader-text">第 </span>382<span class="screen-reader-text"> 页</span></a>
                        <a class="next page-numbers" href="http://www.qugood.com/page/2/"><i class="be be-arrowright"></i></a></div>
                </nav>
            </div><!-- .content-area -->
{% endblock %}

{% block sidebar %}
     <div id="sidebar" class="widget-area all-sidebar">
         {% load_sidebar_hot %}
         {% load_sidebar_best_recomm %}
         {% load_sidebar_tag %}
     </div>
{% endblock %}


{% block links-box %}
    <div class="links-box">
        <div id="links">
            {% for link in links %}
                <ul class="lx7"><li class="link-f link-name wow fadeInUp" data-wow-delay="0.3s"><a href="{{ link.url }}">{{ link.name }}</a></li></ul>
      	    {% endfor %}
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}

    <!--
    <script type='text/javascript' src='static/js/beepress-pro.js'></script>
    <script type='text/javascript' src='static/js/slides.js'></script>
    <script type='text/javascript' src='static/js/jquery.qrcode.min.js'></script>
    <script type='text/javascript' src='static/js/wow.js'></script>
    <script type='text/javascript' src='static/js/sticky.js'></script>
    <script type='text/javascript' src='static/js/jquery-ias.js'></script>
    <script type='text/javascript' src='static/js/jquery.lazyload.js'></script>
    <script type='text/javascript' src='static/js/tipso.js'></script>
    <script type='text/javascript' src='static/js/script.js'></script>
    <script type='text/javascript' src='static/js/flexisel.js'></script>
    <script type='text/javascript' src='static/js/superfish.js'></script>
    <script type='text/javascript' src='static/js/gb2big5.js'></script>
    <script type='text/javascript' src='static/js/carousel.min.js'></script>
    <script type='text/javascript' src='static/js/wpzm.js'></script>
    <script type='text/javascript' src='static/js/3dtag.js'></script>
    <script type="text/javascript">
    var ias = $.ias({ container: "#main", item: "article", pagination: "#nav-below", next: "#nav-below .nav-previous a", });
    ias.extension(new IASTriggerExtension({ text: '<i class="be be-circledown"></i>更多', offset: 2, }));
    ias.extension(new IASSpinnerExtension());
    ias.extension(new IASNoneLeftExtension({ text: '已是最后', }));
    ias.on('rendered', function(items) { $("img").lazyload({ effect: "fadeIn", failure_limit: 70 }); })
    </script>
    -->
