{% load static %}
{% load dashboard_extras %}
{% load cache %}
{% load fullurl %}
{% load compress %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    {% block header %}
    {% endblock %}
    <link rel="shortcut icon" href="{% buildfullurl settings.favicon.url %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% buildfullurl settings.favicon.url %}" />
    <!--[if lt IE 9]>
    <script src="fullstatic/js/html5_1.js"></script>
    <script src="fullstatic/js/css3-mediaqueries_1.js"></script>
    <![endif]-->

    {% compress css %}
        <link rel='stylesheet' id='BEEPRESSCSS-css' href="{% static 'dashboard/css/beepress.css' %}" type='text/css' media='screen' />
        <link rel='stylesheet' id='BEEPRESSIMAGECSS-css' href="{% static 'dashboard/css/beepress-image.css' %}" type='text/css' media='screen' />
        <link rel='stylesheet' id='begin-style-css'  href="{% static 'dashboard/css/style.css' %}" type='text/css' media='all' />
        <link rel='stylesheet' id='fonts-css'  href="{% static 'dashboard/css/fonts.css' %}" type='text/css' media='all' />
        <!-- font icon -->
        <link rel='stylesheet' id='iconfontd-css' href="{% static 'dashboard/css/font_361479_pipeyej1sk1kbj4i.css' %}" type='text/css' media='all' />
    {% endcompress %}
</head>

<body class="home blog">
    <div id="page" class="hfeed site">

        {% load_banner %}

        {% block breadcrumb %}
        {% endblock %}

        <div id="content" class="site-content">
           {% block primary %}
           {% endblock %}

              {% block sidebar %}
              {% endblock %}

           <div class="clear"></div>

           {% block below-main %}
           {% endblock %}
        </div><!-- .site-content -->

        {% block links-box %}
        {% endblock %}

        <div class="clear"></div>
        {% cache 3600 footer %}
            {% load_footer %}
        {% endcache %}
        <!--
        {% cache 3600 scroll %}
            {% load_scroll %}
        {% endcache %}
        -->
    </div><!-- .site -->
    {% compress js %}
    <script type='text/javascript' src="{% static 'dashboard/js/jquery.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'dashboard/js/snore.js' %}"></script>
    <!-- 页面上方轮播 -->
    <script type='text/javascript' src="{% static 'dashboard/js/slides.js' %}"></script>
    <!-- 页面侧边栏布局 -->
    <script type='text/javascript' src="{% static 'dashboard/js/sticky.js' %}"></script>
    <!-- 页面下方轮播 -->
    <script type='text/javascript' src="{% static 'dashboard/js/jquery.lazyload.js' %}"></script>
    <script type='text/javascript' src="{% static 'dashboard/js/tipso.js' %}"></script>
    <!-- 侧边上下滑动 -->
    <script type='text/javascript' src="{% static 'dashboard/js/script.js' %}"></script>
    <script type='text/javascript' src="{% static 'dashboard/js/flexisel.js' %}"></script>
    <!-- 字体 -->
    <script type='text/javascript' src="{% static 'dashboard/js/gb2big5.js' %}"></script>
    <!-- 标签云 -->
    <script type='text/javascript' src="{% static 'dashboard/js/3dtag.js' %}"></script>
    <!-- 手机端 -->
    <script type='text/javascript' src="{% static 'dashboard/js/superfish.js' %}"></script>
    {% endcompress %}

    {% block js-script %}
    {% endblock %}

    {{ settings.analytics|safe}}

</body>

</html>
