{% load fullurl %}
<header id="masthead" class="site-header">
        <div id="menu-box">
            <div id="top-menu">
                <span class="nav-search"></span>
                <div class="logo-site">
                    <div class="site-title">
                        <a href="{% fullurl 'dashboard:index' %}">
                            <img src="{% buildfullurl settings.site_code.url %}" title="{{ settings.head_title }}|{{ settings.sitename }}" alt="{{ settings.head_title }}|{{ settings.sitename }}" rel="home" />
                            <span class="site-name">{{ settings.sitename }}|{{ settings.head_title }}</span>
                        </a>
				    </div>
                </div><!-- .logo-site -->
                <div id="site-nav-wrap">
                    <div id="sidr-close"><a href="#sidr-close" class="toggle-sidr-close">×</a></div>
                    <div id="sidr-menu">
                        <div class="toggle-sidr-menu">MENU</div>
                    </div>
                    <nav id="site-nav" class="main-nav">
                        <a href="#sidr-main" id="navigation-toggle" class="bars"><i class="be be-menu"></i></a>
                        <div class="menu-%e8%b6%a3%e6%9e%9c%e7%bd%91-container">
                            <ul id="menu-category" class="down-menu nav-menu">
                                <li id="menu-item-587"  class="imenu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home menu-item-587">
                                    <a href="{% fullurl 'dashboard:index' %}"><i class="be be-home"></i><span class="font-text">首页</span></a>
                                </li>
                                {% for category in categorys %}
                                    <li id="menu-item-{{ category.id }}" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-{{ category.id }}">
                                      {% if category.link  %}
                                          <a href="{{ category.link }}" rel="external nofollow" target="_blank">
                                              <i class="{{ category.icon }}"></i><span class="font-text">{{ category.name }}</span>
                                          </a>
                                      {% else %}
                                          <a href="{% buildfullurl category.get_absolute_url %}">
                                              <i class="{{ category.icon }}"></i><span class="font-text">{{ category.name }}</span>
                                          </a>
                                      {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </nav><!-- #site-nav -->
                </div><!-- #site-nav-wrap -->
                <div class="clear"></div>
            </div><!-- #top-menu -->
        </div><!-- #menu-box -->
</header><!-- #masthead -->

<div id="search-main">
    <div class="searchbar">
        <form method="get" id="searchform" action="{% fullurl 'dashboard:search' %}">
            <span class="search-input">
                <input type="text" value="" name="q" id="s" placeholder="输入搜索内容" required />
                <button type="submit" id="searchsubmit"><i class="be be-search"></i></button>
            </span>
        </form>
    </div>
    <div class="clear"></div>
</div>


