{% load static %}
{% load fullurl %}

<footer id="colophon" class="site-footer">
    <div class="site-info">
        <p style="text-align: center; color:#ccc">Copyright © 2016-{{ year }}
            <a style="color:#ccc" href="{% fullurl 'dashboard:index' %}">{{ settings.sitename }}</a> All Rights Reserved
            -<a style="color:#ccc" title="map" href="{% fullurl 'django.contrib.sitemaps.views.sitemap' %}"> 网站地图  </a>
        </p>
        <p style="text-align: center;">
            <span style="color: #ccc;">岳阳二手车交易市场线上发布平台，附近个人二手车及旧车出售转让信息，一手私家车买卖价格评估。联系方式：19109870287</span>
        </p>
        <p style="text-align: center;">
            <a style="color: #ccc;" href="https://beian.miit.gov.cn">ICP备案编号：湘ICP备2021009606号 |
                <img src="{% static 'dashboard/images/beian.png' %}" alt="湘公网安备 43060202000444号" /> 湘公网安备 43060202000444号
            </a>
        </p>
    </div><!-- .site-info -->
</footer><!-- .site-footer -->
