{% load fullurl %}

<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="site-info">
        <p style="text-align: center; color:#ccc">Copyright © 2016-{{ year }}
        <a style="color:#ccc" href="{% fullurl 'dashboard:index' %}">{{ settings.sitename }}</a> All Rights Reserved
            -<a style="color:#ccc" title="map" href="{% fullurl 'django.contrib.sitemaps.views.sitemap' %}"> 网站地图  </a>
        </p>
        <p style="text-align: center;">
            <span style="color: #ccc;">专业靠谱的顶级复刻手表，一比一A货手表评测与市场行情报价，分享腕表使用与保养知识，你的腕表微信管家！</span>
        </p>
    </div><!-- .site-info -->
</footer><!-- .site-footer -->
